    <!-- Credential Details Modal -->
    <div id="credentialModal" class="modal">
        <div class="modal-content modal-content-large">
            <div class="modal-header">
                <h2 class="modal-title">Credential Details</h2>
                <button class="modal-close" onclick="closeCredentialModal()">&times;</button>
            </div>
            <div class="modal-body" id="modalBody">
                <!-- Content will be populated by JavaScript -->
            </div>
        </div>
    </div>
