        <nav class="nav-tabs">
            <button class="nav-tab active" data-tab="simple" onclick="switchTab('simple')">Simple Authentication</button>
            <button class="nav-tab" data-tab="advanced" onclick="switchTab('advanced')">Advanced Authentication</button>
            <button class="nav-tab" data-tab="decoder" onclick="switchTab('decoder')">Decoder</button>
            <button class="nav-tab" data-tab="mds" onclick="switchTab('mds')">FIDO MDS Authenticators</button>
        </nav>
