            <div id="advanced-tab" class="tab-content">
                <div class="section">
                    {% include 'advanced/tab/header.html' %}

                    <div class="advanced-settings-layout">
                        <div class="form-column">
                            <div class="column-card form-card">
                                {% include 'advanced/tab/registration-form.html' %}
                                {% include 'advanced/tab/authentication-form.html' %}
                            </div>
                        </div>

                        {% include 'advanced/tab/credentials-column.html' %}
                        {% include 'advanced/tab/json-editor-column.html' %}
                    </div>
                </div>

                {% include 'advanced/tab/progress.html' %}
            </div>
