<div id="registration-extensions" class="settings-section-sentinel" data-scroll-target="extensions-reg"></div>
<div class="expandable-section">
    <div class="section-header">
        <span>Extensions</span>
    </div>
    <div id="extensions-reg" class="section-content">
        {% include 'advanced/tab/registration/extensions/core.html' %}
        {% include 'advanced/tab/registration/extensions/blob-and-prf-toggle.html' %}
        {% include 'advanced/tab/registration/extensions/prf-evals.html' %}
    </div>
</div>
